@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Chakie';
  src: url('../src/components/assets/Fonts/Chakie.ttf');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    @apply font-sans;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
}

h1,
h2,
h3 {
  font-family: Chakie, sans-serif;
  font-weight: 400;
}

svg {
  width: 100%;
  height: 100%;
}

.clip-svg {
  /* clip-path: polygon(40% 4, 96% 4, 58% 100%, -5% 100%); */
}
